<template>
  <div>
    <div class="col-8 offset-2">
      <div class="shadow card">
        <div class="card-header text-center">Add New Service</div>
        <div class="card-body">
          <validation-errors
            :errors="validationErrors"
            v-if="validationErrors"
          ></validation-errors>
          <div>
            <form @submit.prevent="addService">
              <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="service.name"
                />
              </div>
              <div class="form-group">
                <label>Price</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="service.price"
                />
              </div>
              <button type="submit" class="btn btn-primary">Add Service</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      service: {},
      validationErrors: "",
    };
  },
  methods: {
    addService() {
      axios
        .post("/api/services", this.service)
        .then((response) => this.$router.push({ name: "list-services" }))
        .catch((error) => {
          if (error.response.status == 422) {
            this.validationErrors = error.response.data.errors;
          }
        });
    },
  },
};
</script>