<template>
  <div>
    <div class="col-8 offset-2">
      <div class="shadow card">
        <div class="card-header text-center">Edit Service</div>
        <div class="card-body">
          <validation-errors
            :errors="validationErrors"
            v-if="validationErrors"
          ></validation-errors>
          <div>
            <form @submit.prevent="updateService">
              <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="service.name"
                />
              </div>
              <div class="form-group">
                <label>Price</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="service.price"
                />
              </div>
              <button type="submit" class="btn btn-primary">
                Update Service
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      service: {},
      validationErrors: "",
    };
  },
  created() {
    axios
      .get(`http://localhost:8000/api/services/${this.$route.params.id}`)
      .then((response) => {
        this.service = response.data.data;
        // console.log(response.data);
      });
  },
  methods: {
    updateService() {
      axios
        .patch(`/api/services/${this.$route.params.id}`, this.service)
        .then((response) => {
          this.$router.push({ name: "list-services" });
        })
        .catch((error) => {
          if (error.response.status == 422) {
            this.validationErrors = error.response.data.errors;
          }
        });
    },
  },
};
</script>