<template>
  <div>
    <h3 class="text-center">All Services</h3>

    <router-link :to="{ name: 'add-services' }" class="btn btn-primary mb-3"
      >Add Service
    </router-link>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="service in services" :key="service.id">
          <td>{{ service.name }}</td>
          <td>{{ service.price }}</td>
          <td>
            <div>
              <router-link
                :to="{ name: 'edit-services', params: { id: service.id } }"
                class="btn btn-secondary btn-sm"
                >Edit
              </router-link>
              <button
                class="btn btn-danger btn-sm ml-1"
                @click="deleteService(service.id)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      services: [],
    };
  },
  created() {
    axios.get("/api/services").then((response) => {
      this.services = response.data.data;
    });
  },
  methods: {
    deleteService(id) {
      if (confirm("Are you sure?")) {
        axios.delete(`/api/services/${id}`).then((response) => {
          let i = this.services.map((item) => item.id).indexOf(id); // find index of your object
          this.services.splice(i, 1);
        });
      }
    },
  },
};
</script>