<template>
  <div>
    <div class="col-8 offset-2">
      <div class="shadow card">
        <div class="card-header text-center">Add New User</div>
        <div class="card-body">
          <div>
            <form @submit.prevent="addUser">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" v-model="user.name" />
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" v-model="user.email" />
              </div>
              <div class="form-group">
                <label>Password</label>
                <input
                  type="password"
                  class="form-control"
                  v-model="user.password"
                />
              </div>
              <div class="form-group">
                <label>Password Confirmation</label>
                <input
                  type="password"
                  class="form-control"
                  v-model="user.password_confirmation"
                />
              </div>
              <button type="submit" class="btn btn-success">Add User</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {},
    };
  },
  methods: {
    addUser() {
      axios
        .post("http://localhost:8000/api/users", this.user)
        .then(
          (response) => this.$router.push({ name: "list-users" })
          // console.log(response.data)
        )
        .catch((error) => console.log(error))
        .finally(() => (this.loading = false));
    },
  },
};
</script>