<template>
  <div>
    <div class="col-8 offset-2">
      <div class="shadow card">
        <div class="card-header text-center">Edit User Info</div>
        <div class="card-body">
          <div>
            <form @submit.prevent="updateUser">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" v-model="user.name" />
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" v-model="user.email" />
              </div>
              <button type="submit" class="btn btn-success">Update User</button>
            </form>
          </div>
        </div>
      </div>

      <div class="mt-4 shadow card">
        <div class="card-header">Update Password</div>
        <div class="card-body">
          <div>
            <form @submit.prevent="updatePassword">
              <div class="form-group">
                <label>Password</label>
                <input
                  type="password"
                  class="form-control"
                  v-model="user.password"
                />
              </div>
              <div class="form-group">
                <label>Password Confirmation</label>
                <input
                  type="password"
                  class="form-control"
                  v-model="user.password_confirmation"
                />
              </div>

              <button type="submit" class="btn btn-danger">
                Update Password
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {},
    };
  },
  created() {
    axios
      .get(`http://localhost:8000/api/users/${this.$route.params.id}`)
      .then((response) => {
        this.user = response.data.data;
        // console.log(response.data);
      });
  },
  methods: {
    updateUser() {
      axios
        .patch(
          `http://localhost:8000/api/users/${this.$route.params.id}`,
          this.user
        )
        .then((response) => {
          this.$router.push({ name: "list-users" });
        });
    },
    updatePassword() {
      axios
        .patch(
          `http://localhost:8000/api/users/${this.$route.params.id}/reset-password`,
          this.user
        )
        .then((response) => {
          this.$router.push({ name: "list-users" });
        });
    },
  },
};
</script>