<template>
  <div>
    <h3 class="text-center">All Users</h3>

    <router-link :to="{ name: 'add-users' }" class="btn btn-primary mb-3"
      >Add User
    </router-link>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" :key="user.id">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <div>
              <router-link
                :to="{ name: 'edit-users', params: { id: user.id } }"
                class="btn btn-secondary btn-sm"
                >Edit
              </router-link>
              <button
                class="btn btn-danger btn-sm ml-1"
                @click="deleteUser(user.id)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      users: [],
    };
  },
  created() {
    axios.get("http://localhost:8000/api/users").then((response) => {
      this.users = response.data.data;
    });
  },
  methods: {
    deleteUser(id) {
      if (confirm("Are you sure?")) {
        axios
          .delete(`/api/users/${id}`)
          .then((response) => {
            let i = this.users.map((item) => item.id).indexOf(id); // find index of your object
            this.users.splice(i, 1);
          })
          .catch((error) => {
            alert(error.response.data.message);
          });
      }
    },
  },
};
</script>