<template>
  <div>
    <div class="col-8 offset-2">
      <div class="shadow card">
        <div class="card-header text-center">Add New Booking</div>
        <div class="card-body">
          <validation-errors
            :errors="validationErrors"
            v-if="validationErrors"
          ></validation-errors>
          <div>
            <form @submit.prevent="addBooking">
              <div class="form-group">
                <label>If you are booking for a new Customer, please </label>
                <router-link :to="{ name: 'add-customers' }" class=""
                  >Add New Customer
                </router-link>
                here.
              </div>
              <div class="form-group">
                <label>Select Customer</label>
                <multiselect
                  v-model="selectedCustomers"
                  :options="customers"
                  label="name"
                  track-by="name"
                >
                </multiselect>
              </div>
              <div class="form-group">
                <label for="duration">Duration</label>
                <input
                  type="range"
                  name="duration"
                  min="1"
                  max="30"
                  class="custom-range"
                  v-model="booking.duration"
                />
                <input
                  type="text"
                  class="form-control col-sm-1"
                  :value="booking.duration"
                />
              </div>

              <div class="form-group">
                <label>Additional Services</label>
                <multiselect
                  v-model="selectedServices"
                  :close-on-select="false"
                  :multiple="true"
                  :options="services"
                  label="name"
                  track-by="name"
                  :preselect-first="true"
                ></multiselect>
              </div>
              <div class="form-group">
                <label>Notes</label>
                <textarea class="form-control" v-model="booking.notes" />
              </div>
              <button type="submit" class="btn btn-success">Add Booking</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";

export default {
  components: { Multiselect },
  data() {
    return {
      booking: {
        duration: 1,
        customer_id: "",
        services: [],
      },
      validationErrors: "",
      selectedServices: [{ id: 1, name: "Basic", price: "10" }],
      selectedCustomers: {},
      customers: [],
      services: [],
    };
  },
  mounted() {
    this.getServices(), this.getCustomers();
  },
  watch: {
    selectedServices(newValues) {
      this.booking.services = newValues.map((obj) => obj.id);
    },
    selectedCustomers(newValues) {
      this.booking.customer_id = newValues.id;
    },
  },
  methods: {
    addBooking() {
      axios
        .post("/api/bookings", this.booking)
        .then((response) => this.$router.push({ name: "list-bookings" }))
        .catch((error) => {
          if (error.response.status == 422) {
            this.validationErrors = error.response.data.errors;
          }
        });
    },
    getServices() {
      axios.get("/api/services").then((response) => {
        this.services = response.data.data;
      });
    },
    getCustomers() {
      axios.get("/api/customers").then((response) => {
        this.customers = response.data.data;
      });
    },
  },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>