<template>
  <div>
    <div class="col-8 offset-2">
      <div class="shadow card">
        <div class="card-header text-center">Edit Booking</div>
        <div class="card-body">
          <div>
            <validation-errors
              :errors="validationErrors"
              v-if="validationErrors"
            ></validation-errors>
            <form @submit.prevent="updateBooking">
              <div class="form-group">
                <label>Select Customer</label>
                <multiselect
                  v-model="selectedCustomers"
                  :options="customers"
                  label="name"
                  track-by="id"
                >
                </multiselect>
              </div>
              <div class="form-group">
                <label for="duration">Duration</label>
                <input
                  type="range"
                  name="duration"
                  min="1"
                  max="30"
                  class="custom-range"
                  v-model="booking.duration"
                />
                <input
                  type="text"
                  class="form-control col-sm-1"
                  :value="booking.duration"
                />
              </div>

              <div class="form-group">
                <label>Additional Services</label>
                <multiselect
                  v-model="selectedServices"
                  :multiple="true"
                  :options="services"
                  label="name"
                  track-by="name"
                  :preselect-first="true"
                ></multiselect>
              </div>
              <div class="form-group">
                <label>Notes</label>
                <textarea class="form-control" v-model="booking.notes" />
              </div>
              <button type="submit" class="btn btn-success">
                Update Booking
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";

export default {
  components: { Multiselect },
  data() {
    return {
      booking: {},
      selectedServices: [],
      selectedCustomers: {},
      customers: [],
      services: [],
      validationErrors: "",
    };
  },
  mounted() {
    this.getServices(), this.getCustomers();
    axios
      .get(`http://localhost:8000/api/bookings/${this.$route.params.id}`)
      .then((response) => {
        this.booking = response.data.data;
        this.selectedCustomers = this.booking.customer;
        this.selectedServices = this.booking.services;
        // console.log(response.data);
      });
  },
  watch: {
    selectedServices(newValues) {
      this.booking.services = newValues.map((obj) => obj.id);
    },
    selectedCustomers(newValues) {
      this.booking.customer_id = newValues.id;
    },
  },
  methods: {
    updateBooking() {
      axios
        .patch(`/api/bookings/${this.$route.params.id}`, this.booking)
        .then((response) => this.$router.push({ name: "list-bookings" }))
        .catch((error) => {
          if (error.response.status == 422) {
            this.validationErrors = error.response.data.errors;
          }
        });
    },
    getServices() {
      axios.get("/api/services").then((response) => {
        this.services = response.data.data;
      });
    },
    getCustomers() {
      axios.get("/api/customers").then((response) => {
        this.customers = response.data.data;
      });
    },
  },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>