<template>
  <div>
    <h3 class="text-center">All Bookings</h3>

    <router-link :to="{ name: 'add-bookings' }" class="btn btn-primary mb-3"
      >Add Booking
    </router-link>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Verification Number</th>
          <th>Customer Name</th>
          <th>Car Number</th>
          <th>Duration</th>
          <th>Price</th>
          <th>Expired At</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="booking in bookings.data" :key="booking.id">
          <td>{{ booking.verification_number }}</td>
          <td>{{ booking.customer.name }}</td>
          <td>{{ booking.customer.car_number }}</td>
          <td>{{ booking.duration }} days</td>
          <td>{{ booking.price }}</td>
          <td>{{ booking.expire_at }}</td>
          <td>{{ booking.created_at }}</td>
          <td>
            <div>
              <button
                class="btn btn-success btn-sm mr-1"
                @click="invoicePaind(booking.id)"
              >
                Checkout
              </button>
              <router-link
                :to="{ name: 'edit-bookings', params: { id: booking.id } }"
                class="btn btn-secondary btn-sm"
                >Edit
              </router-link>
              <button
                class="btn btn-danger btn-sm ml-1"
                @click="deleteBooking(booking.id)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination
      :data="bookings"
      @pagination-change-page="getResults"
    ></pagination>
  </div>
</template>

<script>
export default {
  data() {
    return {
      bookings: {},
    };
  },
  created() {
    this.getResults();
  },
  methods: {
    getResults(page = 1) {
      axios.get("/api/bookings?page=" + page).then((response) => {
        this.bookings = response.data;
      });
    },
    deleteBooking(id) {
      if (confirm("Are you sure?")) {
        axios.delete(`/api/bookings/${id}`).then((response) => {
          this.getResults();
        });
      }
    },
    invoicePaind(id) {
      if (confirm("Are you sure?")) {
        axios.patch(`/api/bookings/${id}/checkout`).then((response) => {
          this.getResults();
        });
      }
    },
  },
};
</script>