<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div>
        <router-link to="/" class="text-white text-decoration-none"
          ><h5>Auto Verge</h5></router-link
        >
      </div>
      <div class="collapse navbar-collapse mr-auto">
        <div class="navbar-nav ml-auto">
          <router-link :to="{ name: 'home' }" class="nav-item nav-link"
            >Home</router-link
          >
          <router-link
            :to="{ name: 'login' }"
            v-if="!isLogged"
            class="nav-item nav-link"
            >Login</router-link
          >
          <router-link
            :to="{ name: 'list-services' }"
            v-if="isLogged"
            class="nav-item nav-link"
            >Services</router-link
          >
          <router-link
            :to="{ name: 'list-customers' }"
            v-if="isLogged"
            class="nav-item nav-link"
            >Customers</router-link
          >
          <router-link
            :to="{ name: 'list-bookings' }"
            v-if="isLogged"
            class="nav-item nav-link"
            >Bookings</router-link
          >
          <router-link
            :to="{ name: 'list-users' }"
            v-if="isLogged"
            class="nav-item nav-link"
            >Users</router-link
          >
          <a
            href="#"
            class="nav-item nav-link"
            @click="logout()"
            v-if="isLogged"
          >
            Logout
          </a>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["isLogged"]),
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
    },
  },
};
</script>

<style>
@import "~bootstrap/dist/css/bootstrap.css";
</style>
