<template>
  <div>
    <div class="col-8 offset-2">
      <div class="shadow card">
        <div class="card-header text-center">Add New Customer</div>
        <div class="card-body">
          <div>
            <validation-errors
              :errors="validationErrors"
              v-if="validationErrors"
            ></validation-errors>
            <form @submit.prevent="addCustomer">
              <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="customer.name"
                />
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="customer.phone"
                />
              </div>
              <div class="form-group">
                <label>Car Number</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="customer.car_number"
                />
              </div>
              <button type="submit" class="btn btn-success">
                Add Customer
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      customer: {},
      validationErrors: "",
    };
  },
  methods: {
    addCustomer() {
      axios
        .post("/api/customers", this.customer)
        .then((response) => this.$router.push({ name: "list-customers" }))
        .catch((error) => {
          if (error.response.status == 422) {
            this.validationErrors = error.response.data.errors;
          }
        });
    },
  },
};
</script>