<template>
  <div>
    <div class="col-8 offset-2">
      <div class="shadow card">
        <div class="card-header text-center">Edit Customer</div>
        <div class="card-body">
          <div>
            <validation-errors
              :errors="validationErrors"
              v-if="validationErrors"
            ></validation-errors>
            <form @submit.prevent="updateCustomer">
              <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="customer.name"
                />
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="customer.phone"
                />
              </div>
              <div class="form-group">
                <label>Car Number</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="customer.car_number"
                />
              </div>
              <button type="submit" class="btn btn-success">
                Update customer
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      customer: {},
      validationErrors: "",
    };
  },
  created() {
    axios
      .get(`http://localhost:8000/api/customers/${this.$route.params.id}`)
      .then((response) => {
        this.customer = response.data.data;
        // console.log(response.data);
      });
  },
  methods: {
    updateCustomer() {
      axios
        .patch(`/api/customers/${this.$route.params.id}`, this.customer)
        .then((response) => {
          this.$router.push({ name: "list-customers" });
        })
        .catch((error) => {
          if (error.response.status == 422) {
            this.validationErrors = error.response.data.errors;
          }
        });
    },
  },
};
</script>