<template>
  <div>
    <h3 class="text-center">All Customers</h3>

    <router-link :to="{ name: 'add-customers' }" class="btn btn-primary mb-3"
      >Add Customer
    </router-link>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Car Number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="customer in customers" :key="customer.id">
          <td>{{ customer.name }}</td>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.car_number }}</td>
          <td>
            <div>
              <router-link
                :to="{ name: 'edit-customers', params: { id: customer.id } }"
                class="btn btn-secondary btn-sm"
                >Edit
              </router-link>
              <button
                class="btn btn-danger btn-sm ml-1"
                @click="deleteCustomer(customer.id)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      customers: [],
    };
  },
  created() {
    axios.get("/api/customers").then((response) => {
      this.customers = response.data.data;
    });
  },
  methods: {
    deleteCustomer(id) {
      if (confirm("Are you sure?")) {
        axios.delete(`/api/customers/${id}`).then((response) => {
          let i = this.customers.map((item) => item.id).indexOf(id); // find index of your object
          this.customers.splice(i, 1);
        });
      }
    },
  },
};
</script>